.container {
  max-width: 54.4375rem;
  display: flex;
  flex-direction: column;

  margin: 0 auto;

  padding: 5rem;
  position: relative;
}

@media (max-width: 630px) {
  .container {
    padding-top: 0.5rem;
    padding-inline: 1.25rem;
    padding-bottom: 1.25rem;
  }
}
