dialog {
  border: none;
  padding: 2.5rem;
  border-radius: 0.75rem;
  max-width: 29.8125rem;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-tertiary);
}

form {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  align-items: flex-end;
  gap: 1.75rem;
}

form img {
  width: fit-content;
  max-width: 20px;
  height: auto;
}

form header .title {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

form header .title h1 {
  font: var(--font-title);
  color: var(--content-primary);
}

form header .title p {
  color: var(--content-secondary);
  font: var(--font-paragraph-medium);
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: none;
}

fieldset .input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

fieldset .input-wrapper label {
  font: var(--font-label-medium);
  color: var(--content-primary);
}

fieldset .input-wrapper input[type="text"] {
  all: unset;
}

fieldset .input-wrapper .input-section textarea {
  all: unset;
  color: var(--content-primary);
}

fieldset .input-wrapper .input-section {
  display: flex;
  flex-direction: row;
  padding: 12px;
  align-items: center;

  border: 1px solid var(--border-primary);
  border-radius: 0.5rem;

  font: 400 1rem/1.5 "Inter", sans-serif;

  position: relative;
}

fieldset .input-wrapper input[type="text"] {
  margin-left: 0.5rem;
  color: var(--content-primary);
}

fieldset .date {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  position: relative;
}

input[type="time"],
input[type="date"] {
  background: none;
  border: none;
  outline: none;
  font: 400 1rem/1.5 "Inter", sans-serif;
}

fieldset .date input[type="time"] {
  margin-left: 0.5rem;
  color: var(--content-secondary);
}

fieldset .date input[type="date"] {
  margin-left: 0.5rem;
  color: var(--content-secondary);
}

input[type="date"] {
  width: 100%;
}

form input[type="time"] {
  width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  z-index: 1;
}

.arrow-icon {
  position: absolute;
  max-height: 1.25rem;
  right: 8px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  z-index: 1;
}

form button {
  all: unset;
  cursor: pointer;

  padding: 0.75rem 1.5rem;
  background-color: var(--content-brand);
  border-radius: 0.5rem;

  font: var(--font-label-large);
  color: #050505;

  box-shadow: 0 0 40px 0 rgba(146, 130, 250, 0.3);
}

form button:hover {
  box-shadow: 0 0 40px 0 rgba(146, 130, 250, 0.411);
  transition: 0.3s ease-out;
}
