.main > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main > header .title {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.main > header .title h1 {
  font: var(--font-title);
  color: var(--content-primary);
}

.main > header .title p {
  font: var(--font-paragraph-medium);
  color: var(--content-secondary);
}

.main .input-section {
  display: flex;
  flex-direction: row;
  padding: 12px;
  align-items: center;

  border: 1px solid var(--border-primary);
  border-radius: 0.5rem;

  font: 400 1rem/1.5 "Inter", sans-serif;
  color: var(--content-primary);

  position: relative;
}

.main input[type="date"] {
  margin-left: 0.5rem;
  color: var(--content-secondary);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url("../assets/arrow-down.svg");
  z-index: 1;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .main .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }

  .main {
    padding-top: 0.75rem;
  }
}
