.schedule {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.75rem;
  margin-top: 2rem;
}

.schedule-period {
  background-color: var(--background-tertiary);
  border-radius: 0.625rem;
  width: 100%;
}

.schedule-period header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid var(--border-divisor);
  padding: 0.75rem 1.25rem;
}

.schedule-period header .period-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

.schedule-period header .period-header strong {
  font: var(--font-label-large);
}

.schedule-period header span {
  font: var(--font-label-large);
  color: var(--content-secondary);
}

.schedule .period {
  padding: 1.25rem;
}

.schedule .period li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.75rem;
}

.schedule .period li strong {
  font: var(--font-label-small);
}

.schedule .period li p {
  font: var(--font-paragraph-small);
  color: var(--content-secondary);
}

.schedule .period li p:nth-child(2) {
  justify-self: left;
}

.schedule .pet-info {
  display: flex;

  justify-content: flex-start;
  gap: 16px;
}

.schedule .pet-names {
  display: flex;
  gap: 4px;
  width: 100%;
}

.schedule .pet-info span {
  color: var(--content-secondary);
}

.schedule .period li span:nth-child(3) {
  font: var(--font-paragraph-small);
  color: var(--content-tertiary);
  cursor: pointer;
  justify-self: end;
}
